html {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  height: 100%
}

hr {
  width: 80%;
  border-color: rgba(25, 40, 97, 0.1);
}

#root {
  height: 100%;
}

#root > div {
  width: 100%;
  height: 100%;
}

#container {
  display: block;
  min-width: 100%;
  min-height: 100%;
  transition: background 1s ease-out;
}

#wrapper {
  max-width: 468px;
  padding: 40px 40px;
  margin: 0 auto;
}

.bg-blue {
  /*background: #A2ACD0;*/
  background: #A4B2E6;
}

.bg-red {
  background: #ff5370;
}

i.active {
  opacity: 1;
}

.title {
  font-weight: 200;
  color: #192861;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 24px 0;
}

.center {
  text-align: center;
}

.link {
  font-weight: bold;
  color: #192861;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
}

.stat {
  flex-grow: 1;
  color: #192861;
  font-size: 18px;
  font-weight: 100;
  margin: 12px;
  letter-spacing: 2px;
}

.best {
  margin-left: 24px;
}

rect,
circle {
  transition: 0.3s fill, 0.3s r;
  cursor: pointer;
}

rect:hover {
  transition: fill-opacity 500ms;
  fill-opacity: 0.75;
}

svg.board {
  margin: 12px auto;
  display: block;
}

.row {
  transform: scale(1.125, 1.125);
}

.cell {
  transform: scale(0.85, 0.85);
}

svg + svg {
  border-left: 0;
}

@keyframes fadeIn { 
  from  { opacity: 0; }
  to    { opacity: 1; }
}

.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

.fade-in-fast {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 250ms;
}

.restart {
  color: #4a5a93;
  opacity: 0.5;
  font-size: 18px;
  margin: 12px;
  cursor: pointer;
}

.restart:hover {
  opacity: 1;
}

.mode-switcher {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 0.5s;
}

.mode {
  flex-grow: 1;
  font-size: 18px;
  color: #192861;
  font-weight: 300;
  padding: 12px;
  margin: 12px 6px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 500ms;
  border: 1px solid rgba(25, 40, 97, 0.1);
}

.mode.active {
  background: rgba(255, 255, 255, 0.35);
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 0.5s;
}

.info > article {
  text-align: left;
  flex-grow: 1;
  color: #192861;
  font-size: 14px;
  font-weight: 100;
  margin: 12px;
}

.collapse {
  max-height: 0px;
}

.reveal {
  max-height: 350px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(27, 42, 98, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  background: #E3E3E3;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.modal-dialog {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5em;
  color: #3d4a7d;
  padding: 0 1em;
}

.modal-ctrls {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}

.modal-btn {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
  flex-grow: 1;
  padding: 1em;
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #3d4a7d;
  margin: 0 1em 0 0.5em;
  background: #EBEBEB;
  color: #3d4a7d;
  cursor: pointer;
}

.modal-btn.cta {
  margin: 0 0.5em 0 1em;
  background: #3d4a7d;
  color: #EBEBEB;
  border: 0;
}

.modal-btn.cta:hover {
  background: #4a5a94;
}

.divider {
  font-size: 24px;
  font-weight: 100;
  padding: 0 5px;
  color: rgba(25, 40, 97, 0.5);
}

.splat {
  -webkit-animation: splat 1.5s linear both;
  animation: splat 1.5s linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/Lh4Rs4 */
@keyframes splat { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -400, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -400, 0, 1); }
  4.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -180.29, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -180.29, 0, 1); }
  8.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -46.357, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -46.357, 0, 1); }
  12.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 12.861, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 12.861, 0, 1); }
  16.62% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.322, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.322, 0, 1); }
  27.73% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.139, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.139, 0, 1); }
  38.84% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.014, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.014, 0, 1); }
  61.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.041, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.041, 0, 1); }
  83.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

@media only screen and (max-device-width : 480px) {
  hr {
    width: 100%;
  }
}
