@import 'variables';

body {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

button {
  font-family: $font-stack;
}

.title {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 24px 0;
  transition: color 0.5s ease-out;
}

.bg-light {
  .title, .stat, .mode, .fa, .info, .link { color: $dark; }
  hr { border-color: rgba(25, 40, 97, 0.1); }
}

.bg-dark {
  .title, .stat, .mode, .fa, .info, .link, .divider { color: $light; }
  hr { border-color: rgba(227, 227, 227, 0.25); }
}

.center {
  text-align: center;
}

.link {
  font-weight: bold;

  &:hover {
    opacity: 0.5;
  }
}

i.active {
  opacity: 1;
}

.fa {
  opacity: 0.75;
  font-size: 18px;
  margin: 12px;
  cursor: pointer;
  transition: color 0.5s ease-out;

  &:hover {
    opacity: 1;
  }
}