@import 'variables';

body {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

button {
  font-family: $font-stack;
}

.title {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 24px 0;
  transition: color 0.5s ease-out;
}

.bg-blue {
  .title, .stat, .mode, .fa, .info, .link { color: $dark; }
  hr { border-color: rgba(25, 40, 97, 0.1); }
}

.bg-red {
  .title, .stat, .mode, .fa, .info, .link { color: $light; }
  hr { border-color: rgba(252, 184, 196, 0.25); }
}

.center {
  text-align: center;
}

.link {
  font-weight: bold;

  &:hover {
    opacity: 0.5;
  }
}

i.active {
  opacity: 1;
}