$font-stack: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;

$dark: #192861;
$light: #E3E3E3;
$lighter: #EBEBEB;

$bg-blue: #A2ACE0;
$bg-red: #F46B87;

$modal-primary: #3d4a7d;
$modal-overlay: rgba(27, 42, 98, 0.75);
$modal-hover: #4a5a94;